{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}All Dancers{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
      <div class="container">
        <h1>All Dancers</h1>
        <b><i> Click on ID number to view dancer info (including casting group)</i></b><br>
<br>
<br>

<div class="newspaper">
	{% for d in dancers%}
		<a href="/dancer/{{d.id}}"><b>{{d.id}}</b></a>: {{d.name}}
			<br>
	{% endfor %}
</div>
      </div>
    </div>

{% endblock %}