{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Profile: Casting Group #{{g.id}}{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
      <div class="container">
        <h1>All Dancers</h1>
        <b><i> Click on ID number to view dancer info (including casting group)</i></b><br>
<br>
<br>

<div class="newspaper">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Audition #</th>
        <th>Full Name</th>
        <th>Profile Link</th>
      </tr>
    </thead>
    {% for d in dancers%}
      <tr>
        <th>
            <b>{{d.id}}</b>
        </th>
        <th>
          {{d.name}}
        </th>
        <th>
          <a href="/dancer/{{d.id}}">
            See Profile
          </a>
        </th>

      </tr>	
    {% endfor %}
  </table>
</div>
      </div>
    </div>

{% endblock %}