{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Profile: Casting Group #{{g.id}}{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
      <div class="container">
        <h1>All Dancers</h1>
        <b><i> Click on 'See Profile' to view dancer info (including casting group)</i></b><br>
<br>
<br>

<div class="newspaper">
  {% include "audition_site/dancer_table.html" %}
</div>
      </div>
    </div>

{% endblock %}