{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Profile: Dancer #{{d.id}}{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>#{{d.id}}: {{d.name}}</h1>
        <b><i> Auditioning for {{d.semester}}</i></b><br><br>
        <b>Gender:</b> {{d.gender}}<br>
        <b>Email:</b> {{d.email}}<br>
        <b>Phone Number:</b> {{b.phone}}
        <b>Casting Group:</b> <a href="/castinggroup/{{d.casting_group.id}}">{{d.casting_group.id}}</a><br>
        <b>Teams:</b> {%for t in d.team_offers%} {{t.name}}, {% endfor%}<br><br>

        {% if canbechosen%}
          <form action="/team">
            <div class="checkbox">
            <label><input type="checkbox" value="" checked>Option 1</label>
            </div>
          </form>
        {% endif %}
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}