{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Profile: Casting Group #{{g.id}}{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Casting Group #{{g.id}}</h1>
        <b><i> Auditioning for {{g.semester}}</i></b><br>
<center>
        <iframe width="560" height="315" src="{{ yt_link }}" frameborder="0" allowfullscreen></iframe>
</center>


<br>
<br>
	<h3> Dancers:</h3>
	<i>(left to right)</i><br><br>

	{% for d in dancers %}
		<a href="/dancer/{{d.id}}"><b>{{d.id}}</b></a>: {{d.name}}<br>
	{% endfor %}

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
	      <h2 id="local-date">{{today}}</h2>
	      <p>This is the time using your local information </p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		      <h2 id="non-local-date">{{today|unlocalize}}</h2>
		      <p>This is the default time format.</p>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		    <h2>Time Zones</h2>
		    <p> Barcelona: <span id="time-tz">{{now|time:"H:i"}}</span></p>
		    <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
		    <p> New York: <span id="time-ny"> 
		           {{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
      </div>
  	</div>

{% endblock %}