{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Profile: Casting Group #{{g.id}}{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Casting Group #{{g.id}}</h1>
        <b><i> Auditioning for {{g.semester}}</i></b><br>
        <center>
          <iframe width="560" height="315" src="{{ yt_link }}" frameborder="0" allowfullscreen></iframe>
        </center>

        <br>
        <br>
        	<h3> Dancers:</h3>
        	<i>(left to right)</i><br><br>

          {% include "audition_site/dancer_table.html" %}
      </div>
    </div>

{% endblock %}