{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}AFX Auditions{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{org}}</h1>
        <b><i>Exec: {{org.admin_name}}</b></i>
        <br><br>
		<p>
        	<a id="logout" href="/admin/logout/" class="btn btn-primary" role="button">Logout</a>
        </p>
        <div class="row">
        	<div class="col-md-6">
			    {% if isD %}
			      <h3><a href="team/">Your Team</a></h3>
			    {% endif %}
			  	  <h3><a href="all_dancers/">All Dancers</a></h3>
				  <h3><a href="all/">All Casting Groups</a></h3>
			  	  <h3><a href="conflicts/">Dancer Conflicts</a></h3>
			</div>
			<div class="col-md-6">
			    <h2>Audition Status</h2>
			      {% if org.allSet %}
			      All teams have been finalized.
			      {% else %}
				      {% if org.choosingProjects %}
				      <b>Project teams</b> are currently choosing their dancers.
				      {% else %}
				      <b>Training teams</b> are currently choosing their dancers.
				      {% endif %}
			      {% endif %}
			</div>
		</div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
	     <h2>Project Teams</h2>
      		{% for t in pteams%}
		<a href="/teams/{{t.id}}"><b>{{t.name}}:</b></a><br>
			{% for d in t.team_directors%}
			{{d.name}},
			{% endfor %}
			<br>
			{% endfor %}
		</div>
		<div class="col-md-4">
	      <h2>Training Teams</h2>
      		{% for t in tteams%}
		<a href="/teams/{{t.id}}"><b>{{t.name}}:</b></a><br>
			{% for d in t.team_directors%}
			{{d.name}},
			{% endfor %}
			<br>
			{% endfor %}

		</div>
		<div class="col-md-4">
	      <h2>Audition Day Tools</h2>
	      <p><a href="signup/">New Dancer Sign Up Form</a></p>
	      <p><a href="newcastinggroup/">New Casting Group</a></p>
	      <h2>Search Dancers</h2>
	      <h4>Search By Id:</h4>
	      <form method="GET" action="/searchById/">
	      	<input type="text" name="dancerId"> 					<button type="submit" class="btn btn-success btn-xs">Search</button>
	      </form>
	      <h4>Search By Name:</h4>

  	      <form method="GET" action="/searchByName/">
	      	<input type="text" name="dancerName"> 					<button type="submit" class="btn btn-success btn-xs">Search</button>
	      </form>
		</div>
      </div>
  	</div>
  	{% endif %}

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-4">
	      <h2 id="local-date">{{today}}</h2>
	      <p>This is the time using your local information </p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		      <h2 id="non-local-date">{{today|unlocalize}}</h2>
		      <p>This is the default time format.</p>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		    <h2>Time Zones</h2>
		    <p> Barcelona: <span id="time-tz">{{now|time:"H:i"}}</span></p>
		    <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
		    <p> New York: <span id="time-ny"> 
		           {{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
      </div>
  	</div> -->

{% endblock %}