{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}AFX Auditions{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Home Page</h1>
    	{% if user.is_authenticated %}
    		<p>
            	<a id="logout" href="/admin/logout/" class="btn btn-primary" role="button">Logout</a>
            </p>
        {% else %}
        	<p>Sign in to access pages</p>
            <p>
            	<a id="login" href="/admin/" class="btn btn-primary" role="button">Sign in</a>
            </p>
        {% endif %}
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
	      <h2>New Dancer Sign Up</h2>
	      <p><a href="signup/">New Dancer Sign Up</a></p>
          <p><a href="signup/">New Dancer Sign Up</a></p>
		</div>
		<div class="col-md-4">
	      <h2>New Dancer Sign Up</h2>
	      <p><a href="signup/">New Dancer Sign Up</a></p>
          <p><a href="signup/">New Dancer Sign Up</a></p>
		</div>
		<div class="col-md-4">
	      <h2>New Dancer Sign Up</h2>
	      <p><a href="signup/">New Dancer Sign Up</a></p>
          <p><a href="signup/">New Dancer Sign Up</a></p>
		</div>
      </div>
  	</div>
  	{% endif %}

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-4">
	      <h2 id="local-date">{{today}}</h2>
	      <p>This is the time using your local information </p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		      <h2 id="non-local-date">{{today|unlocalize}}</h2>
		      <p>This is the default time format.</p>
		      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
		    <h2>Time Zones</h2>
		    <p> Barcelona: <span id="time-tz">{{now|time:"H:i"}}</span></p>
		    <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
		    <p> New York: <span id="time-ny"> 
		           {{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
      </div>
  	</div> -->

{% endblock %}