{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}Your Team{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Error: You are not a director. </h1>
         <p>If you are looking for a list of all teams, visit the <a href="/">home page</a>.</p>
         <br>
         <p>If you believe this is a mistake, please contact us.</p>
       </div>
    </div>

{% endblock %}