{% extends "base.html" %}
{% load tz %}
{% load l10n %}

{% block head_title %}AFX Auditions{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>AFX {{team.name}}</h1>
        <b><i>{{team.semester}}</i></b><br>
        {% if myTeam %} <b>This is your team!</b><br><br>{% endif %}
        <b>Directors: </b> {% for d in team.team_directors %}
        	{{d.name}}, 
        	{% endfor %}<br>
        <b>Level: </b> {{level}} <br>
        <b>Size: </b> {{size}} <br>
        <b>Gender ratio: </b> {{female}} F, {{male}} M <br>
        <b>Reached capacity? </b> {{full}} <br>
        <b>Roster finalized? </b> {{finalized}} <br><br>

        {% if myTeam %}
            {% if showSorry%}
            <b>You currently cannot choose any dancers for your team because project teams are still choosing their dancers. Sorry!</b>
            {% else %}
                {% if showForm%}
                    {% if allSet%}
                    <b> You indicated that you're finished choosing dancers for your team. Click the button below to unlock your roster and continue adding. </b>
                      <form action="/unlock/">
                          {% csrf_token %}
                          {{ form }}
                          <button type="submit" class="btn btn-danger">Unlock Roster</button>
                      </form>                {% else %}
                    <br>If you have finished choosing dancers for your team, click the button below:
    <!--                 <b><font color="red"><br>(WARNING: YOU CAN'T UNDO IT SO MAKE SURE YOU'RE DONE)<br><br></font></b>
     -->                  <form action="/allSet/">
                          {% csrf_token %}
                          {{ form }}
                          <button type="submit" class="btn btn-success">Lock Roster</button>
                      </form>
                  {% endif %}
                {% else %}
                <b>You cannot confirm your roster. This might be because of <a href="/conflicts">conflicts</a>.</b>
                {% endif %}
            {% endif %}
        {% endif %}

      	<h3>Dancers:</h3>
      	<div class="newspaper">
      		{% for d in dancers%}
      			<a href="/dancer/{{d.id}}"><b>{{d.id}}</a>: </b> {{d.name}}
      			<br>
      		{% endfor %}
      	</div>

      </div>
    </div>


{% endblock %}